.object {
    border-radius: 15px!important;
    @media (min-width: 767px){
        width: 43%;
    }
    @media (min-width: 1024px){
        width: 28.5%;
    }
    &__img {
        height: auto; 
        width: auto;
        border-top-left-radius: 15px!important;
        border-top-right-radius: 15px!important;
    }
}